[Unit]
Description=Systemd-Watcher

[Service]
Type=simple
Restart=always
RestartSec=1
ExecStart=/usr/local/bin/systemd-watcher

[Install]
WantedBy=multi-user.target
